<jce-post-form (postAddedEvent) = "addPost($event)"></jce-post-form>
<jce-spinner [visible] = "isLoading" ></jce-spinner>
<div>
   <ul class="list-group-item posts">
     <li class="list-group-item posts"
      *ngFor = "let post of posts"
      (click) = "select(post)"
      [class.active]="currentPost == post">
     <jce-post [post] =  "post"
     (deleteEvent) = "deletePost($event)"
     (editEvent) = "updatePost($event)"></jce-post>
     <ul>
       <li *ngFor = "let name of post.userNames">
         {{(name | async)?.name}}
       </li>
     </ul>
     </li>
   </ul>
 </div>