<h1>
  {{title}}
</h1>
<!--<de-demo> Looding...</de-demo>-->
<!--<jce-invoice-form (invoiceAddedEvent) = "addInvoice($event)"></jce-invoice-form>-->
<nav>
  <a routerLink = "/invoice-form">Invocie Form</a> |
  <a routerLink = "/invoices">Invocies</a>
</nav>
<router-outlet>  </router-outlet>