<!--<jce-invoice-form (invoiceAddedEvent) = "addInvoice($event)">-->
<jce-spinner [visible] = "isLoading" ></jce-spinner>
 <div>
  <ul class="list-group-item invoices">
    <li class="list-group-item invoices"
     *ngFor = "let invoice of invoices"
     (click) = "select(invoice)"
     [class.active]="currentinvoice == invoice">
     <jce-invoice [invoice] =  "invoice"></jce-invoice>
     <!--<jce-user [invoice] =  "invoice"
     (deleteEvent) = "deleteUser($event)"
     (editEvent) = "updateUser($event)"></jce-user>-->
    </li>
  </ul>
</div>